body
{
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #222;
  background-color: #f9f9f9;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  padding: 0em;
}

.wrapper {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
	padding: 1em;
}

@media (min-width: 800px) {
  .wrapper {
    max-width: 860px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
	gap: 1em;
}

.column {
  flex: 1 1 100%;
  padding: 0em;
}

	@media (min-width: 601px) {
		.column {
			flex: 1 1 100%;
			margin-bottom: 0;
		}
		.text {
			order: 1;
		}
		.img {
			order: 2;
			flex-direction: column;
  			justify-content: flex-end;
		}
	}

/* On small screens, force image to come first */
	@media (max-width: 600px) {
		.row {
		flex-direction: column;
		align-items: flex-start; /* or center, if preferred */
	  }

	.img {
		order: -1;
		flex-direction: column;
		justify-content: flex-end;
	}

	.text {
		order: 0;
	}
}

* {
  box-sizing: border-box;
}

img
{
	max-width: 128px;
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	flex-direction: column;
  	justify-content: flex-end;
}

a
{
	color: darkblue;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

/*--------------Header----------------------*/
.header
{
	height: 80px;
	/* background-color: SeaShell; */
}

.header h1
{
	font-family: inherit;
	font-size: 26px;
	color: #333333;
	padding-top: 10px;
	padding-left:50px;		
	margin-bottom: 0;
}

/*------------- Navigation------------------*/
.nav {
	text-align: left;
	display: flex;
	  flex-wrap: wrap;
	  gap: 1em;
	  padding-left: 0;
	  margin: 0;
	  list-style: none;
}

/*.nav*/
/*{*/
/*	text-align:left;*/
/*	margin: 0;*/
/*}*/
.nav li
{
	display: inline;
	list-style-type: none;
}

.nav li a
{
	text-decoration: none;
	font-size:15px;
	font-family: inherit;
	padding-left: 20px;
	padding-top: 7px;
  	padding-bottom: 7px;	
	padding-right: 20px;
  	color:#333333;
}

/*ul.nav {*/
/*  display: flex;*/
/*  gap: 1em;*/
/*  padding-left: 0;*/
/*  list-style: none;*/
/*}*/
/*ul.nav li a {*/
/*  text-decoration: none;*/
/*  color: #222;*/
/*}*/

.nav li a:hover
{
	text-decoration: none;
	background-color:#f3f2f2;
  	color:#333333;
}

.nav li a.on
{
	background-color:#f3f2f2;
	color:#333333;
}

@media (max-width: 600px) {
	.nav {
		display: none;
	}

	ul.nav {
		display: none;
	}
}

@media (max-width: 600px) {
	.menu-divider {
		display: none;
	}
}

@media (min-width: 601px) {
	.cv-divider {
		display: none;
	}
}

/* Hide CV link by default */
.cv-mobile {
  display: none;
}

/* Show on mobile (max 600px wide) */
@media (max-width: 600px) {
  .cv-mobile {
    display: inline; /* or block depending on layout */
  }
}

/*--------------Content------------------------*/

.content
{
	border-style: none;
	border-width: 1px;
	border-color: #D6D9EC;	
	padding: 5px;
}

h3
{
	font-size: 15px;
	/* background-color: SeaShell; */
	padding: 2px;
	margin: 0;
	font-family: inherit;
	color:#333333;
}

/*----------------Footer-----------------------*/
.footer
{
	clear:both;
	/* background-color: SeaShell; */
	text-align: center;
	padding: 5px;
	font-size: 10px;
	font-family: inherit;
}
